:root {
  --icon: #ffffff;
  --gradient-normal: #e9a61d, #ef3738, #9d24ce;
  --gradient-hover: #cb8f17, #bc2323, #721597;
  --pulse: #ef3738;
}

.icon {
  width: 30px;
  height: 30px;
  fill: var(--icon);
}

.float {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  cursor: pointer;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 30px;
  transition: background 2s;
  background: linear-gradient(45deg, var(--gradient-normal));
  border-radius: 50px;
  z-index: 1000000;
  animation: pulse 3s infinite;
}

.float:hover {
  background: linear-gradient(45deg, var(--gradient-hover));
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--pulse);
  }
  50% {
    box-shadow: 0 0 0 20px #ffffff00;
  }
  100% {
    box-shadow: 0 0 0 0 #ffffff00;
  }
}
