:root {
  --icon: #ffffff;
  --background: #0088cc;
  --background-hover: #006395;
  --pulse: #0088cc;
}

.icon {
  width: 30px;
  height: 30px;
  fill: var(--icon);
}

.float {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  cursor: pointer;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: var(--background);
  border-radius: 50px;
  z-index: 1000000;
  transition: background-color 1s;
  animation: pulse 3s infinite;
}

.float:hover {
  background-color: var(--background-hover);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--pulse);
  }
  50% {
    box-shadow: 0 0 0 20px #ffffff00;
  }
  100% {
    box-shadow: 0 0 0 0 #ffffff00;
  }
}