:root {
  --icon: #ffffff;
  --icon-hover: #ffffff;
  --background: #00c800;
  --background-hover: #009600;
  --pulse: #00c800;
  --pulse-duration: 3s;
  --transition-duration: 0.2s;
}

.icon {
  width: 30px;
  height: 30px;
  fill: none;
  stroke: var(--icon);
  stroke-width: 2;
  stroke-miterlimit: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke var(--transition-duration);
}

.whatsapp-float {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  cursor: pointer;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: var(--background);
  border-radius: 50px;
  z-index: 1000000;
  transition: background-color var(--transition-duration);
  animation: pulse var(--pulse-duration) infinite;
}

.whatsapp-float:hover {
  background-color: var(--background-hover);
}

.whatsapp-float:hover .icon {
  stroke: var(--icon-hover);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--pulse);
  }
  50% {
    box-shadow: 0 0 0 20px #ffffff00;
  }
  100% {
    box-shadow: 0 0 0 0 #ffffff00;
  }
}